body {
  /*  max-width: 375px;
  width: 100%; */
}

header {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
  text-align: center;
}

nav {
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}

section {
  background-color: wheat;
}

footer {
  background-color: coral;
}

.logo {
  flex-grow: 1;
}

.header-div {
  flex-grow: 1;
  width: 50px;
}
